<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<test thread-count="5" name="Test">
	<classes>
		<class name="testClass">
			<methods>
				<include name="T1_Create_Token"/>
				<include name="T2_Get_BookingID"/>
				<include name="T3_Get_BookingDetails"/>
				<include name="T4_Create_Booking"/>
				<include name="T5_Update_Booking"/>
				<include name="T6_PartialUpdate_Booking"/>
				<include name="T7_Delete_Booking"/>
			</methods>
		</class>
	</classes>
</test> <!-- Test -->
</suite> <!-- Suite -->

